@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url('../images/salemthedog-lookinginwoods.jpg');
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom;
  background-color: #7aae7f;
}

h1 {
  font-family: 'Kaushan Script', cursive;
  font-size: 100px;
  padding-top: 15%;
  margin: 0 auto;
}

h2 {
  padding: 0;
}

h3 {
  padding: 0;
}

.words {
  margin: 0 auto;
  width: 100%;
  background-image: url('.././images/black-ink-splash.png');
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  padding: 5% 0 30% 0;
}

a:link {
 color: #ffffff;
 text-decoration: none;
}

a:visited {
 color: #ceebcf;
}

a:hover {
 color: #95c9e0
}

a:active {
 color: #ffa600
}

@media all and (min-width:700px) {
  .words {
    width: 50%;
    max-width: 600px;
    padding: 5% 0 15% 0;
  }
}

@media all and (min-width: 1500px) {
  .words {
    padding: 1% 0 8% 0;
  }
}