@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis&family=Josefin+Slab:wght@300&display=swap"); /* imported fonts from Google to be used on webpage */

/* edits to entire areas */

body {
  background-image: url("../images/lushfoliage-redgreen.jpg");
  background-attachment: fixed;
  background-color: rgb(166, 206, 185);
  font-family: "Nanum Gothic", sans-serif;
  flex-direction: column;
  margin: 0;
}

header,
footer {
  background-color: rgb(0, 65, 48);
  color: aliceblue;
  text-align: center;
  padding: 0;
}

/* edits to particular sections */

main {
  background-color: #a6ceb9bf;
}

h1 {
  font-family: "Josefin Slab", serif;
  font-size: 35px;
  letter-spacing: 5px;
  color: aliceblue;
  margin: 0 0 0 2%;
}

h2 {
  color: aliceblue;
  margin: 0 0 0 2%;
  padding-bottom: 50%;
  font-size: 17px;
}

h3 {
  font-size: 25px;
  text-align: center;
  margin: auto;
  padding: 30px 0 20px 0;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  letter-spacing: 5px;
}

h4 {
  font-family: "Josefin Slab", serif;
  font-size: 20px;
  letter-spacing: 2px;
}

/* this edits our horizontal ruler to it's pretty look and specific size */
hr {
  border: none;
  background-image: url("../images/lushfoliage-redgreen.jpg");
  background-attachment: fixed;
  background-color: rgba(47, 86, 50, 0);
  width: 50%;
  height: 5px;
}

/* these rules edit our hyperlink text */

a:link,
a:visited {
  text-decoration: none;
  color: rgb(0, 65, 48);
}

a:hover {
  font-weight: bold;
  color: rgb(255, 102, 0);
}

a:active,
a.darkgreen:active,
nav a:active {
  color: rgb(251, 255, 0);
}

.darkgreen a:link,
.darkgreen a:visited,
nav a:link,
nav a:visited {
  color: rgb(226, 241, 237);
}

.darkgreen a:hover,
nav a:hover {
  font-weight: bold;
  color: rgb(255, 102, 0);
}

/*using "center" to center entire div content */
.center {
  text-align: center;
}

/* edit a single line of text */
.special {
  color: #ffffff;
  font-size: 170%;
  letter-spacing: 5%;
  font-style: italic;
  margin: 0;
  line-height: 0;
  padding: 0 0 5% 0;
  display: inline;
  padding-bottom: 20%;
}

/* sizing contact me buttons */
.buttons {
  width: 75%;
  margin: auto;
  display: flex;
  flex-direction: row;
  padding: 5px 0;
  max-width: 500px;
}

.buttons img {
  width: 90%;
  padding: 5% 0;
}

/* these create a more uniform/consolidated look between certain divs*/
.bottomspace {
  padding-bottom: 40px;
  margin: 0;
}

.topspace {
  padding-top: 30px;
  margin: 0;
}

.column {
  flex-direction: column;
}

.wrapper {
  width: 75%;
  margin: auto;
}

.wide {
  width: 65%;
  margin: auto;
}

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
}

.item-double {
  flex: 2;
}

.headshot {
  background-image: url("../images/jenna-smile-woodsbackground.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
}

.contactme {
  padding-bottom: 30px;
}

.lightgreen {
  background-color: #cae6d8f2;
}

.darkgreen {
  background-color: rgb(0, 65, 48);
  color: rgb(226, 241, 237);
}

.darkgreen img {
  padding: 5% 5% 0 0;
  margin: 0 10% 0 0;
  max-width: 500px;
}

.bubble {
  background-color: #cae6d87c;
  border-radius: 7px;
  width: 65%;
  margin: auto;
}

img {
  width: 100%;
}

.item ul {
  margin: auto;
}

nav ul {
  display: block;
  list-style: none;
  margin: 0;
  padding: 3%;
  float: right;
}

nav ul li {
  margin: 20px 0;
}

/* for our email form */
fieldset {
  background-color: rgba(0, 65, 48, 0.445);
  border-radius: 5px;
  font-size: 20px;
  color: #ffffff;
}

legend {
  background-color: #ffffff;
  font-family: "Josefin Slab", serif;
  font-weight: bold;
  font-size: 25px;
  letter-spacing: 5px;
  color: #024700;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  text-align: center;
}

label,
button {
  display: block;
  margin: auto;
  padding-left: 5%;
}

form {
  padding-bottom: 20px;
}

input[type="text"],
input[type="email"] {
  margin: 20px;
  width: 75%;
  color: #000000;
}

textarea {
  width: 90%;
  min-height: 100px;
  margin: 20px;
  color: #000000;
}

label {
  font-family: "Josefin Slab", serif;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: bold;
}

button[type="submit"] {
  display: block;
  font-family: "Josefin Slab", serif;
  letter-spacing: 5px;
  padding: 10px 20px;
  font-size: 20x;
  font-weight: bold;
  color: #ffffff;
  background-color: rgb(255, 102, 0);
  border-style: none;
  border-radius: 5px;
}

/* for a cleaner desktop structure/layout */
@media all and (min-width: 800px) {
  .headshot {
    height: 500px;
  }
  .group {
    flex-direction: row;
  }
  .special {
    letter-spacing: 5px;
    font-size: 250%;
  }
  .buttons {
    width: 50%;
    max-width: 500px;
  }
  .wrapper {
    width: 50%;
  }
  h1 {
    font-size: 55px;
    letter-spacing: 10px;
  }
  h2 {
    font-size: 25px;
  }
  nav ul {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin: 0;
    padding: 20px;
    float: right;
    font-size: 20px;
  }
  nav ul li {
    margin: 0 20px;
  }
  .item ul {
    margin-left: 30px;
  }
  .premier {
    padding-right: 30px;
  }
}
